* {
  margin: 0;
  padding: 0;
}
.clearfix::before,
::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.root {
  width: 22.5em;
  margin: 50px auto;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.carousel-image-wrapper {
  background-color: #000;
  margin: 0 auto;
}
.carousel-container div i {
  font-size: 20px;
}
.carousel-image-wrapper img {
  float: left;
  height: auto;
  width: 100%;
}
.carousel-container div i {
  font-size: 30px;
  opacity: 0.8;
  color: #c3c3c3;
  padding: 10px;
}
.carousel-container div:hover i {
  color: #f3f3f3;
  opacity: 1;
  cursor: pointer;
}

.control-button {
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -30px;
}
.control-left {
  left: 5px;
}

.control-right {
  right: 5px;
}

.indicator-nav {
  position: absolute;
  z-index: 100;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.indicator-nav span {
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #c3c3c3;
  opacity: 0.8;
  border-radius: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.indicator-nav span:hover {
  background-color: #fff;
  cursor: pointer;
}
.indicator-nav span.active {
  background-color: #fff;
  opacity: 1;
}

.mini-slider {
  width: 40%;
}
.mini-slider div {
  display: inline-block;
}
.mid-slider {
  width: 60%;
}

@media screen and (min-width: 1170px) {
  .root {
    width: 87.5em;
  }
  .carousel-container div i {
    font-size: 60px;
  }
  .indicator-nav span {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1170px) {
  .root {
    width: 48em;
  }
  .carousel-container div i {
    font-size: 30px;
  }
  .indicator-nav span {
    width: 20px;
    height: 20px;
  }
}
