* {
  margin: 0;
  padding: 0;
}
.clearfix::before,
::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.root {
  margin-top: 100px;
}
.carousel-container {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.carousel-image-wrapper {
  background-color: #000;
  position: absolute;
  z-index: 5;
}
.carousel-image-wrapper img {
  float: left;
}
.carousel-container div i {
  font-size: 60px;
  opacity: 0.8;
  color: #c3c3c3;
  padding: 10px;
}
.carousel-container div:hover i {
  color: #f3f3f3;
  opacity: 1;
}

.control-l {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -30px;
  left: 5px;
}
.control-r {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -30px;
  right: 5px;
}

.indicator-nav {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
}

.indicator-nav span {
  display: inline-block;
  background-color: #c3c3c3;
  opacity: 0.8;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
}
.indicator-nav span:hover {
  background-color: #fff;
}
.indicator-nav span.active {
  background-color: #fff;
  opacity: 1;
}
