@media screen and (min-width: 900px) {
  .upper-header {
    display: block;
  }
  .social-links {
    float: left;
    padding-left: 15px;
  }
  .social-links a i {
    font-size: 14px;
    color: #b5bcc3;
    line-height: 40px;
  }
  .social-links a {
    margin-right: 25px;
    display: inline-block;
  }
  .social-links a i:hover {
    color: #6b7c93;
  }

  .contact-info {
    font-weight: normal;
    color: rgb(48, 56, 66);
    font-size: 12px;
    float: right;
    padding-right: 15px;
    line-height: 40px;
  }
  .contact-info-phone {
    color: rgb(107, 124, 147);
    font-weight: lighter;
    font-size: 12px;
    padding-left: 17px;
  }
  .lower-header-wrapper {
    background-position: top;
    background-image: url("../images/header-line.png");
    background-repeat: repeat-x;
  }
  .header-menu {
    float: right;
    padding-right: 15px;
  }
  .header-menu ul li.menu-button {
    display: none;
  }
  .header-menu ul li {
    display: inline-block;
    margin-left: 52px;
  }

  .header-menu ul li:hover {
    background-image: url("../images/menu-select.png");
    background-position: top;
    background-repeat: repeat-x;
  }
  .first-container {
    padding-top: 302px;
    margin: 0 auto;
    padding-bottom: 180px;
  }
  .first-content {
    padding-bottom: 54px;
  }
  h1.first-content-title {
    font-size: 56px;
    line-height: 82px;
  }

  .customer-l {
    float: left;
    width: 30.7692%;
  }
  .customer-r {
    float: right;
  }
  .customer-logo-wrapper {
    display: inline-block;
    padding-left: 62px;
    margin: 0;
    padding-bottom: 0;
  }
  .customer-logo-wrapper img {
    margin: 0;
    padding-bottom: 0;
    display: inline;
  }
  .service {
    float: right;
    padding-top: 140px;
    padding-left: 0;
    width: 64.1025%;
  }
  .service-top {
    padding-bottom: 53px;
    padding-left: 6px;
  }
  .field {
    float: left;
    padding-bottom: 70px;
    width: 48%;
    padding-left: 15px;
  }
  .field-img {
    float: left;
    width: 9.7222%;
    padding-right: 31px;
    height: 50px;
    background: url(../images/service1.png) no-repeat;
  }
  .field-content {
    float: left;
    border-left: 1px solid #f1f1f1;
    padding-left: 15px;
    width: 76.9444%;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    width: 100%;
    min-width: 73.125em;
  }
  .container {
    width: 73.125em;
  }
}
