canvas {
  display: block;
  margin: 0 auto;
}

body {
  background: #000;
  overflow: hidden;
  text-decoration: none;
}

#container {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  /* display: none; */
}
.hide {
  font-size: 10px;
  text-align: right;
  cursor: pointer;
  padding: 10px 0;
  text-transform: capitalize;
  float: right;
}

.hide:hover {
  text-decoration: underline;
}

.controls {
  cursor: default;
}
.controls ul {
  list-style-type: none;
  font-size: 10px;
  text-align: left;
  word-spacing: 2px;
  font-family: 'Press Start 2P', cursive;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 0;
  padding-top: 40px;
}
.controls ul li:first-child {
  font-size: 14px;
}

.controls ul li {
  padding: 4px;
}

.p1Controls {
  float: left;
}
.p2Controls {
  float: left;
}

audio {
  display: none;
}
