canvas {
  display: block;
  margin: 0 auto;
  background-color: #98fb98;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  background: #000;
}
