.header-top-wrapper {
  background-color: skyblue;
  height: 100px;
}
.header-bottom-wrapper {
  background-color: #d5d5d545;
  height: 40px;
}

.body-wrapper {
  background-color: #fff;
  height: 520px;
}

.footer-wrapper {
  background-color: #888888;
  height: 50px;
}

.sth {
  background-image: url("/images/hr.png");
  background-repeat: repeat;
}

.col3-left {
  float: left;
  background-color: red;
  width: 200px;
  height: 400px;
  margin-left: 10px;
}

.main-wrapper {
  float: right;
  background-color: red;
  margin-right: 10px;
}
.main {
  float: left;
  background-color: red;
  width: 200px;
  height: 400px;
}

.main-r {
  float: right;
  background-color: red;
  width: 200px;
  height: 400px;
}
