* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  list-style: none;
}
.clearfix::before,
::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.parent {
  background-color: #e3e3e3;
  position: relative;
  background: #c3c3c3;
  /* margin: 100px auto; */
  display: inline-block;
  width: 75em;
  border: 5px solid #aaaaaa;
}

.gameWindow {
  overflow: hidden;
  position: relative;
  float: left;
}
.infoBoard {
  float: left;
  padding-left: 10%;
}

.infoBoard span {
  font-size: 60px;
}

.roadStrip {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 5;
  height: 100%;
}
.roadSlider {
  height: 200%;
  background: url('./assets/lane2.png');
  background-size: 1400px 1400px;
}
.roadSlider img {
  width: 100%;
  height: 25%;
  margin-bottom: -10px;
}

.player {
  position: absolute;
  background: url('./assets/player.png') no-repeat;
  background-position: center;
  background-size: 130px 230px;
  z-index: 10;
}

.car {
  position: absolute;
  background: url('./assets/car1.png') no-repeat;
  background-position: center;
  background-size: 100px 200px;
  z-index: 10;
}
.bullet {
  background-color: #343434;
  border-radius: 50% 50% 0 0;
  position: absolute;
  z-index: 10;
}

.collision {
  position: absolute;
  background: url('./assets/collision-l.png');
  background-size: cover;
  z-index: 10;
}

.gameOver {
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #c3c3c3cc;
}

.gameOverText {
  font-size: 80px;
  padding-top: 15%;
  text-transform: uppercase;
  text-align: center;
}

.scoreText {
  font-size: 80px;
  padding-top: 10%;
  text-align: center;
}
.gameOver:hover .restart {
  opacity: 0.9;
}
.restart:hover {
  background: url('./assets/restart1_hover.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.restart {
  background: url('./assets/restart1.png') no-repeat;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.splashScreen {
  background-color: #98fb98cc;
  position: absolute;
  top: 0;
  z-index: 30;
}
.buttonWrapper {
  padding-top: 30%;
}

.startButton {
  width: 400px;
  background: url('./assets/start.png') 200px 200px no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  height: 400px;
}

.startButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

.explosion {
  position: absolute;
  background: url('./assets/explosion.png') no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 15;
}
ul.controlInfo {
  padding-top: 100px;
}
ul.controlInfo li {
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}

ul.controlInfo li:first-child {
  font-size: 50px;
}
